body {
    
}

.event-filer {
    width: 10rem !important;
}

body .file-icon {
    color: #912733 !important;
    width: 24px;
    height: auto;
}

body .bg-gray {
    background-color: #7875741e;
}

body td:nth-child(4) {
    font-weight: 500;
}

body td:nth-child(3) span {
    font-size: 0.80rem;
    color: #787474;
}

body #btn-addEvent {
    background-color: #912733;
    border: 1px transparent;
}

body section .controls div:nth-child(1) {
    width: 15%;
}

body section .controls div:nth-child(3) {
    width: 15%;
}

body section .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    
}

body section .table-wrapper-scroll-y {
    display: block;
}