.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.navbar {
    background-color: #912733;
}

.nav-link {
    color: #fff;
    font-size: 16px;
}

    .nav-link:hover {
        color: #818181;
    }

.brand {
    display: flex;
    margin-top: 8px;
    margin-bottom: 10px;
    align-items: center;
    color: #fff;
}

    .brand:hover {
        opacity: 0.6;
    }

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-container.container {
    padding: 10px 6px;
}

.temple-logo {
    margin-right: 2px;
}

.edit-profile-container.container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.edit-profile-grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.edit-profile-grid-div {
    padding: 15px;
}

.ep-text-field.ep-text-area {
    max-height: 160px;
    max-width: 100%;
    min-height: 120px;
    min-width: 100%;
}

.ep-social-heading {
    text-align: center;
}

.edit-profile-heading {
    text-align: center;
}

.ep-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ep-button {
    padding: 16px 26px;
    background-color: #912733;
    font-size: 16px;
    text-align: center;
}

    .ep-button:hover {
        opacity: 0.6;
    }

.qrpage-container.container {
    padding-bottom: 60px;
}

.qr-block {
    display: flex;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.qrimage {
    width: 250px;
}

.qr-button {
    margin-top: 20px;
    padding: 20px 24px;
    border-radius: 10px;
    background-color: #912733;
}

.qr-error-block {
    max-width: 225px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #ff8f8f;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .nav-link {
        text-align: center;
    }

    .menu-button {
        color: #fff;
        font-size: 28px;
    }

        .menu-button:hover {
            background-color: #fff;
            color: #912733;
        }

        .menu-button.w--open {
            background-color: #fff;
            color: #912733;
        }

    .nav-menu {
        background-color: #912733;
    }
}

@media screen and (max-width: 767px) {
    .edit-profile-heading {
        font-size: 32px;
    }
}

#w-node-dede1a6a-4766-ebc9-1161-2c4ba89e7ee4-c51123a0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#w-node-bb72bb29-1910-07ba-2a1b-21c370acce79-c51123a0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

#w-node-_12f0b7ae-b276-dab7-0e03-deb32555434b-c51123a0 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
    #w-node-dede1a6a-4766-ebc9-1161-2c4ba89e7ee4-c51123a0 {
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }

    #w-node-bb72bb29-1910-07ba-2a1b-21c370acce79-c51123a0 {
        -ms-grid-column: span 2;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        -ms-grid-row: span 1;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }
}
