html, body {
}

.e139_4653 {
	background-color: rgba(145, 39, 51, 1);
	width: 100%;
	height: 67px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.Hamburger ul {
	list-style: none;
	display: none;
}

.Hamburger {
	background-image: url('../Images/Hamburger.png');
	width: 40px;
	height: 40px;
	position: absolute;
	left: 43px;
	top: 10px;
}

/*
	.Hamburger ul li a:hover {
		color: var(--color-primary);
	}

	.Hamburger:hover {
		display: block;
	}
	*/

.dropdown-menu {
	display: none;
}

.Hamburger:hover .dropdown-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 40px;
	border-color: black;
	margin: 0px;
}
/*
.Hamburger ul li a {
	font-size: 20px;
	color: var(--color-white);
	text-decoration: none;
	transition: all 0.3s;
}

.Hamburger:hover .dropdown-menu ul {
	display: block;
}

	.Hamburger:hover .dropdown-menu ul li {
		width: auto;
		border: 10px;
		margin: 0px;
		font-family: sans-serif;
	}

.Hamburger ul li a {
	font-size: 35px;
	text-decoration: none;
	transition: all 0.3s;
}

.Hamburger .dropdown-menu ul li:hover {
	background-color: dimgray;
}
*/
.ei139_4653_21_5 {
	background-image: url('../Images/Temple Logo.png');
	width: 36px;
	height: 46px;
	position: absolute;
	left: 105px;
	top: 9px;
	background-size: contain;
	background-repeat: no-repeat;
}

.TempleText {
	background-image: url('../Images/image 3.png');
	width: 121px;
	height: 46px;
	position: absolute;
	left: 150px;
	top: 9px;
	background-size: contain;
	background-repeat: no-repeat;
}

.ei139_4653_21_6 {
	width: 251px;
	height: 80px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.ei139_4653_21_7 {
	width: 185px;
	height: 44px;
	position: absolute;
	left: 31px;
	top: 17px;
}

.ei139_4653_21_8 {
	color: rgba(255, 255, 255, 1);
	width: 73px;
	height: 21px;
	position: absolute;
	left: 54px;
	top: 11px;
	font-family: Open Sans;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0;
}

.ei139_4653_21_9 {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 140px;
	top: 2px;
}

.ei139_4653_21_10 {
	/*background-image: url('../Images/Dropdown icon.png');*/
	background-color: rgba(145.00000655651093, 39.00000147521496, 51.00000075995922, 1);
	width: 40px;
	height: 40px;
	position: absolute;
	left: 140px;
	top: 2px;
}
/*
.ei139_4653_21_11 { 
	width:40px;
	height:40px;
	position:absolute;
	left:3px;
	top:2px;
}
.ei139_4653_21_12 { 
	width:33.33333206176758px;
	height:33.333396911621094px;
	position:absolute;
	left:3.3333332538604736px;
	top:3.3333332538604736px;
}
	*/
.ei139_4653_21_13 {
	background-image: url('../Images/Profile%20Icon.png');
	width: 40px;
	height: 40px;
	position: absolute;
	left: -2px;
	top: -1px;
}

.ei139_4653_21_14 {
	background-color: rgba(255, 255, 255, 1);
	width: 20.00014305114746px;
	height: 8px;
	position: absolute;
	left: 6px;
	top: 24px;
}

.ei139_4653_21_15 {
	background-color: rgba(255, 255, 255, 1);
	width: 21.667999267578125px;
	height: 10.000288009643555px;
	position: absolute;
	left: 5.833328723907471px;
	top: 23.333110809326172px;
}

.ei139_4653_21_16 {
	background-color: rgba(255, 255, 255, 1);
	width: 13.333333015441895px;
	height: 13.333333015441895px;
	position: absolute;
	left: 10px;
	top: 6.666666507720947px;
}

.ei139_4653_21_17 {
	background-color: rgba(255, 255, 255, 1);
	width: 13.333333015441895px;
	height: 13px;
	position: absolute;
	left: 10px;
	top: 6px;
}

.ei139_4653_21_18 {
	width: 66px;
	height: 80px;
	position: absolute;
	right: 258px;
	top: 2px;
}

.ei139_4653_21_19 {
	background-image: url('../Images/Vector.png');
	width: 28px;
	height: 33px;
	position: absolute;
	left: 14px;
	top: 21px;
}

.Search {
	width: 66px;
	height: 80px;
	position: absolute;
	right: 330px;
	top: 2px;
}

.SearchIcon {
	background-image: url('../Images/Group 1.png');
	width: 28px;
	height: 26px;
	position: absolute;
	left: 14px;
	top: 25px;
}

.ei139_4653_21_20 {
	background-color: rgba(255, 255, 255, 1);
	width: 27.97800064086914px;
	height: 32.00901412963867px;
	position: absolute;
	left: 6.019999980926514px;
	top: 4px;
}

.ei139_4653_21_21 {
	color: rgba(0, 0, 0, 1);
	width: 9px;
	height: 19px;
	position: absolute;
	left: 10px;
	top: 8px;
	font-family: Open Sans;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0;
}

.ei139_4653_21_22 {
	width: 108px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-right: 10px;
}

.ei139_4653_21_23 {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 45px;
	top: 21px;
}

.i139_4653_21_24 {
	border: 2px solid rgba(255, 255, 255, 1);
}

.ei139_4653_21_24 {
	width: 26.25px;
	height: 20px;
	position: absolute;
	left: 6.875px;
	top: 10.625px;
}

.ei139_4653_21_25 {
	background-color: rgba(145.00000655651093, 39.00000147521496, 51.00000075995922, 1);
	width: 250px;
	height: 70px;
	position: absolute;
	left: 911px;
	top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.ei139_4653_21_26 {
	background-image: url('../Images/Vector.png');
	width: 28px;
	height: 33px;
	position: absolute;
	left: 1098px;
	top: 23px;
}

.ei139_4653_21_27 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.ei139_4653_21_28 {
	transform: rotate(39.999998701998926deg);
	width: 15px;
	height: 0px;
	position: absolute;
	left: 14.5579833984375px;
	top: 15.482421875px;
}

.i139_4653_21_28 {
	border: 4px solid rgba(255, 255, 255, 1);
}

.ei139_4653_21_29 {
	width: 121px;
	height: 41px;
	position: absolute;
	left: 154px;
	top: 21px;
	background-image: url(images/image_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e139_4679 {
	background-color: rgba(145.00000655651093, 39.00000147521496, 51.00000075995922, 1);
	width: 293px;
	height: 56px;
	position: absolute;
	left: 50%;
	top: 88%;
	transform: translate(-50%, -12%);
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	font-family: Inter;
	text-align: center;
	font-size: 32px;
}
/*
.ei139_4679_49_4198 {
	background-color: rgba(145.00000655651093, 39.00000147521496, 51.00000075995922, 1);
	width: 293px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}
*/
/*
.ei139_4679_49_4259 {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	left: 90.15384674072266px;
	top: 12px;
	font-family: Inter;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}
	*/
.e139_4764 {
	color: rgba(255, 255, 255, 1);
	width: 100px;
	height: 39px;
	position: absolute;
	left: 670px;
	top: 837px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e139_4901 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 837px;
	height: 504px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 0px;
}

.e139_4902 {
	color: rgba(0, 0, 0, 1);
	width: 274px;
	height: 39px;
	position: absolute;
	left: 51.5%;
	top: 15%;
	transform: translate(-48.5%, -85%);
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e139_4904 {
	background-image: url('../Images/698648_1.png');
	width: 488px;
	height: 441px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -55%);
	background-repeat: no-repeat;
	margin: 0px;
}

.e139_4905 {
	color: rgba(106.4624972641468, 106.4624972641468, 106.4624972641468, 1);
	width: 348px;
	height: 39px;
	position: absolute;
	left: 52%;
	top: 87%;
	transform: translate(-48%, -13%);
	margin: 0;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.ei139_4653_21_10:hover {
	display: block;
}

.ei139_4653_21_10 ul li a:hover {
	color: var(--color-primary);
}

.ei139_4653_21_10:hover {
	display: block;
}

.dropdown-menu1 {
	display: none;
}

.ei139_4653_21_10:hover .dropdown-menu1 {
	display: block;
	position: absolute;
	right: 0;
	top: 100%;
	border-color: black;
	margin: 0px;
}

.ei139_4653_21_10 ul li a {
	font-size: 20px;
	color: var(--color-white);
	text-decoration: none;
	transition: all 0.3s;
}

.ei139_4653_21_10:hover .dropdown-menu1 ul {
	display: block;
}

	.ei139_4653_21_10:hover .dropdown-menu1 ul li {
		width: auto;
		border: 10px;
		margin: 0px;
		font-family: sans-serif;
	}

.ei139_4653_21_10 ul li a {
	font-size: 35px;
	text-decoration: none;
	transition: all 0.3s;
}

.ei139_4653_21_10 ul li:hover {
	background-color: dimgray;
}

.ei139_4653_21_10 ul {
	list-style: none;
	display: flex;
}

.dropdown:hover > .dropdown-menu {
	display: block;
	position: absolute;
	right: 0;
	top: 40px;
	border-color: black;
	margin: 0px;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}

.Success {
	width: 488px;
	/*height: 441px;*/
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -55%);
}
.SuccessText {
	color: black;
	width: 348px;
	height: 39px;
	position: absolute;
	left: 52%;
	top: 70%;
	transform: translate(-48%, -30%);
	margin: 0;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}